# List In Python

In [1]:
#List in python are ordered and have a definite count
#list are a useful tool for preserving a sequence of data and furtheriterating over it.
#list in python can be created by just placing the sequence inside the square bracket[].

In [2]:
list = ['Operating system', 'artificial Intelligence',1990,2001]

In [4]:
list

['Operating system', 'artificial Intelligence', 1990, 2001]

# Default Function

In [6]:
list.append('Python') #append(): Used for appending and adding elements to list.
                      # it is used to add elements to the last position of list.

In [7]:
print(list)

['Operating system', 'artificial Intelligence', 1990, 2001, 'Python']

In [8]:
list.insert(2,2000) #insert(): Insert an element at specified position

In [9]:
print(list)

['Operating system', 'artificial Intelligence', 2000, 1990, 2001, 'Python']

In [10]:
list1 =[5,6,8]
list2 =[2,9,8,4]

# Add list2 to list1

In [11]:
list1.extend(list2)

In [12]:
print(list1)

[5, 6, 8, 2, 9, 8, 4]

In [13]:
#Add list1 to list2 now
list2.extend(list1)

In [14]:
print(list2)

[2, 9, 8, 4, 5, 6, 8, 2, 9, 8, 4]

In [15]:
list =[1,2,5,6,2,4,3,5,3,5]

In [16]:
print(list.index(2))

1

In [17]:
list.remove(5) # remove(): Element to be deleted is mentioned using list name and element.

In [18]:
print(list)

[1, 2, 6, 2, 4, 3, 5, 3, 5]

# Dict -(Dictionary)

In [19]:
#Dictionary in python is an unordered collection of data values,used to store
#data values like a map,which unlike other Dta Types that hold only single value as n element
#Dictionary holds key: value pair
# Dictionary i python can be created by{}

In [23]:
dit ={'A' : 'japan', 'B': 'India'}

In [24]:
print(dit)

{'A': 'japan', 'B': 'India'}

In [25]:
print(dit.items())

dict_items([('A', 'japan'), ('B', 'India')])

In [26]:
print(dit.keys())

dict_keys(['A', 'B'])

In [29]:
print(dit.keys())

dict_keys(['A', 'B'])

In [30]:
dict.fromkeys(dit)

{'A': None, 'B': None}

In [31]:
dit.update(A ='Man', B ='Woman')

In [32]:
print(dit)

{'A': 'Man', 'B': 'Woman'}

In [33]:
print(dit.clear())

None

In [34]:
dit

{}

# Set (Default function)

In [35]:
# A set is a data structure consisting(collection) of Unordered,Unique& Unindexed elements.
# When to use Sets in python? * the order of data does not matter.
#Unique data elements are needed

In [39]:
a= {1,2.5,6,'aaa','abc',8,5}
b =set([1,5,3,'abc',25]) # Set constructor method
print(a)
print(b)

{1, 2.5, 'aaa', 5, 6, 8, 'abc'}
{1, 3, 5, 'abc', 25}

In [40]:
c=set()  #  create Empty set

In [41]:
print(c)

set()

In [42]:
len(a)

7

In [43]:
for x in a:
    print(x)

1
2.5
aaa
5
6
8
abc

In [44]:
c.add(3)
c

{3}

In [45]:
c.update([2,'abc',3])
c

{2, 3, 'abc'}

In [46]:
a.remove(2.5)
a

{1, 5, 6, 8, 'aaa', 'abc'}

In [47]:
b.discard(5)
b

{1, 25, 3, 'abc'}

In [48]:
a.pop()
a

{5, 6, 8, 'aaa', 'abc'}

In [49]:
a

{5, 6, 8, 'aaa', 'abc'}

In [50]:
a|b   #PIPELINE METHOD FOR FINDING UNION OF A&B

{1, 25, 3, 5, 6, 8, 'aaa', 'abc'}

In [51]:
a.union(b)

{1, 25, 3, 5, 6, 8, 'aaa', 'abc'}

In [52]:
print(a|b|c)
print(a.union(b,c))

{1, 2, 3, 'aaa', 5, 6, 8, 'abc', 25}
{1, 2, 3, 'aaa', 5, 6, 8, 'abc', 25}

In [53]:
a&b

{'abc'}

In [54]:
a.intersection(b,c)

{'abc'}

In [55]:
a-b

{5, 6, 8, 'aaa'}

In [56]:
b-a

{1, 3, 25}

In [57]:
a.difference(c)

{5, 6, 8, 'aaa'}

In [58]:
a.difference(b,c)

{5, 6, 8, 'aaa'}

# Tuple

In [59]:
# A tuple is an immutable sequence type
#Tuples are ordered immutable collection of objects

In [60]:
tup =('Shreyansh','@','Accenture.in')

In [61]:
tup

('Shreyansh', '@', 'Accenture.in')

In [62]:
tup.count('@')

1

In [65]:
tup.index("Accenture.in")

2

# String

In [66]:
# Strings are sequence of characters enclosed within single quotes(''),double quotes("") or triple quotes

In [67]:
str = " Hello my name is Shreyansh Verma"

In [68]:
str

' Hello my name is Shreyansh Verma'

In [69]:
str[0]

' '

In [70]:
str[-1]

'a'

In [71]:
len(str)

33

In [72]:
str.lower()

' hello my name is shreyansh verma'

In [73]:
str.upper()

' HELLO MY NAME IS SHREYANSH VERMA'

In [74]:
str.replace('a','b')

' Hello my nbme is Shreybnsh Vermb'

In [75]:
str.count('hello')

0

In [76]:
str.find("2")

-1

In [77]:
str.rfind("l")

4